# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Mongo local data (if ever added)
data/

# Build / dist
build/
dist/
*.egg-info/

# Docker
*.env
