services:
  vector-db:
    image: qdrant/qdrant
    ports:
      - 6333:6333
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: